@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.h1Hero {
  display: block;

  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 70px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  max-width: 850px;
}

.divHero {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 40%;
  max-width: 80%;
  font-size: 24px;
  font-family: inter, sans-serif;
  width: 600px;
  margin-bottom: 20px;
}

.paraAHero {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  width: 640px;
}
